.image-preview{
    width: 150px;
    height: 150px;
    text-align: center;
    border:1px solid white;
    margin: 10px auto auto auto;
}

.image-preview > img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.uploadbtn{
    text-align: center;
    color: white;
    font-size: 12px;
    background-image: linear-gradient(45deg, #FF5ACD 0%, #FBDA61  100%);
    padding: 10px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    
}
