.drawer{
    position: fixed;
    left:0;
    top:0;
    z-index: 20;
    width: 60%;
    background-image: linear-gradient(to left, #e55d87,#5fc3e4);
    height: 1000px;
    display: none;
    text-align: center;


}

.drawerlist{
  list-style-type: none;
  display: block;
  margin-top: 40%;
  margin-left: 0;
}

.drawernav{
    display: block;
    cursor: pointer;
    padding: 6px 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 100%;
    padding: 10px 0px;
    color: white;
    background-color: #e55d87;
    border-bottom: 1px groove white;
    
} 

.drawernav:hover{
    background-color: #b64f70;
}

