.place-container{
    width: 90%;
    max-width: 40rem;
    margin: auto;
    border-radius: 8px;
    margin-top: 30px;
    box-shadow: 1px 1px 8px 1px black;
   
}

.image-container{
    width: 100%;
    height: 300px;
    position: relative;
    z-index: -1;
}

.image-container > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
    margin:auto;
}

.modal-margin{
    width: 510px;
    margin: auto;
    border-radius: 8px;
    margin-top: 30px;
}

.country{
    border-bottom: 2px solid #e54745;
    padding: 15px 10px;
    font-weight: 600;
    font-size: 30px;
    max-width: 80%;
    margin-left: 10%;
    margin-top: 0px;
    margin: auto;
    line-height: 0.8;
    color: #e54745;
    text-align: center;
}

.building {
    font-size: 26px;
    font-weight: 400;
    padding: 0px 20px;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
}

.map-details{
    text-align: center;
    font-size: 22px;
    line-height: 1;
    font-weight: 400;
    padding: 0px 20px;   
    text-transform: capitalize;
}

.btn1{
    border: none;
    padding: 20px 0px;
    width: 33.3%;
    color: white;
    font-size: 1rem;
    margin: auto;
    cursor: pointer;
    background-color: #e55d87;

}

.btn1:hover{
    background-color: #c75378;
}

.btn-container{
    background-color: #e55d87;
    display: flex;
}



@media screen and (max-width:768px) {
    .image-container{
        height: 250px;
    } 
}


@media screen and (max-width:500px) {
    .image-container{
        height: 200px;
        object-fit: cover;
    } 
}



